<MudGrid>
    <MudItem xs="12">
        <div Class="d-flex align-center justify-center mud-width-full py-8">
            <MudProgressCircular Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Large" Indeterminate="true" />
        </div>
    </MudItem>
</MudGrid>
